@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Totally Not Jira</h1>
    <p class="lead">Totally Not Jira is a free web application for managing your team and projects.</p>
    <!-- <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Totally Not Jira gives you a powerful way to manage your projects and to keep
            track of your team's progress. Register, create your project, become the leader that 
            even employees wish for.
        </p>
    </div>
    <!--    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>-->
    <!--
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>-->
</div>